@import "../mixin";

.header {
  @apply h-[80px] flex items-center justify-between bg-white;
}
.nav {
  @apply flex items-center;

  button {
    @apply flex gap-[10px] px-3 py-1 bg-[#DD463E] rounded-[12px];

    color: #fff;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    display: none;
  }

  ul {
    @apply flex gap-[40px] mr-10;
    li {
      a {
        color: var(--bw-black, #0a0b0c);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
    }
  }
}
.cart {
  display: flex;
  gap: 13px;
  cursor: pointer;
  div {
    position: relative;
    span {
      position: absolute;
      top: -4px;
      left: 100%;
      height: 16px;
      min-width: 16px;
      color: #fff;
      font-size: 13px;
      background: #f51167;
      // text-align: center;
      border-radius: 30px;
      padding-top: 3px;
      margin-left: -7px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.action {
  button {
    @apply flex gap-[10px] px-3 py-1 bg-[#DD463E] rounded-[12px];

    color: #fff;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
}

@include lg {
  .nav {
    button {
      display: block;
    }

    ul {
      @apply flex gap-[40px] mr-10;
      display: none;
    }
  }

  .action {
    button {
      display: none;
    }
  }
}

@include md {
}
