.productItem {
}
.piPic {
  position: relative;
  display: block;
}
.piLinks {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 18px;
  z-index: 9;
  padding-right: 15px;
  text-align: right;
  a {
    display: inline-table;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 60px;
    font-size: 18px;
    line-height: 18px;
    padding-top: 9px;
    overflow: hidden;
    color: #000;
    position: relative;
    -webkit-box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-align: center;
    svg {
      display: inline-block;
      color: #000;
    }
  }
}
.addCard {
  padding-top: 8px;
  span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    right: 19px;
    top: 20px;
    opacity: 0;
  }
  &:hover {
    width: 148px;
    padding: 8px 18px 0;
    text-align: left;
    span {
      opacity: 1;
      top: 10px;
      -webkit-transition: all 0.4s ease 0.3s;
      -o-transition: all 0.4s ease 0.3s;
      transition: all 0.4s ease 0.3s;
    }
  }
}
.piText {
  padding-top: 22px;
  height: 87px;
  h6 {
    float: right;
    padding-left: 40px;
    overflow: hidden;
    font-weight: 700;
    color: #111111;
  }
  p {
    font-size: 16px;
    color: #111111;
    margin-bottom: 0;
  }
}
